<ion-header>
  <ion-toolbar>
    <ion-buttons class="ion-margin">
      <ion-title style="text-align:center">Edit Profile</ion-title>
        <ion-button (click)="closeModal()">
          <ion-icon size="large" name="close-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Full name</ion-label>
          <ion-input required type="text" [(ngModel)]="name" name="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input required type="email" [(ngModel)]="email" name="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Phone</ion-label>
          <ion-input required type="tel" [(ngModel)]="phone" name="phone"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button class="signup-btn ion-margin-top" type="submit" expand="block" shape="round" (click)="update()">Update</ion-button>
    </form>

</ion-content>
