<ion-header>
  <ion-toolbar color="gray">
    <ion-title>upload</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item>
    <ion-label position="stacked">Link for your video</ion-label>
    <ion-input required type="text" [(ngModel)]="videoLink" name="videoLink"></ion-input>
  </ion-item>
  <ion-button (click)="upload()" [disabled]="!videoLink">Upload</ion-button> -->
<form>
  <ion-item>
    <ion-label position="stacked">URL link for your video</ion-label>
    <ion-input required placeholder="https://www.youtube.com/embed/nweGxk6C4lw" minlength="10" type="url" [(ngModel)]="videoLink2" name="videoLink2"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Title</ion-label>
    <ion-input required type="text" [(ngModel)]="title" name="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-textarea [(ngModel)]="description" name="description" placeholder="Enter description here..."></ion-textarea>
  </ion-item>
  <div class="ion-text-center ion-padding-top">
    <ion-button (click)="upload2()" [disabled]="!videoLink2 || !description || !title">Upload <ion-icon class="ion-padding-start" name="cloud-upload-outline"></ion-icon></ion-button>
  </div>
</form>
</ion-content>
