.logout-btn {
  position: fixed;
  left: 10px;
  bottom: 10px;
  right: 10px;
}

.info {
  border-radius: 0 0 28px 28px;
}

// .info-content {
//   background-color: indigo;
//   padding-bottom: 120px;
// }
