<ion-header>
  <ion-toolbar>
    <ion-buttons class="ion-margin">
        <ion-title style="text-align:center">My Profile</ion-title>
        <ion-button (click)="closeModal()">
          <ion-icon size="large" name="close-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-padding ion-no-margin">
    <ion-row>
      <ion-col>
        <ion-text color="secondary">
          <h2 class="ion-padding-start ion-padding-end">{{user?.userName}}</h2>
        </ion-text>
      </ion-col>
    </ion-row>


    <p class="ion-padding-start">{{user?.userEmail}}</p>
    <p class="ion-padding-start">{{user?.userPhone}}</p>
    <p class="ion-padding-start">{{user?.createdAt | date}}</p>

    <div class="ion-text-center ion-padding-bottom">
      <ion-button (click)="editProfile()">
        <ion-icon name="ellipsis-horizontal-outline" class="ion-padding-end"></ion-icon>
        Edit Profile
      </ion-button>
    </div>
  </ion-card>



</ion-content>
