
<ion-content>
  <div class="center logo">
    <app-logo></app-logo>
      <h4 class="ion-no-margin">
        <ion-text color="primary">Create account</ion-text>
      </h4>
  </div>

  <form>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Full name</ion-label>
        <ion-input required type="text" [(ngModel)]="name" name="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input required type="email" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Phone</ion-label>
        <ion-input required type="tel" [(ngModel)]="phone" name="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input required type="password" [(ngModel)]="password" name="password"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-text class="sign-in">Already have an account?</ion-text>
        <a routerLink='/login' >Sign in</a>
      </ion-item>
    </ion-list>
    <ion-button class="signup-btn" type="submit" expand="block" shape="round" (click)="register()">Register</ion-button>
  </form>

</ion-content>
