<ion-header>
  <ion-toolbar color="gray">
    <ion-title>feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="content">
    <ion-col col-6 *ngFor="let post of posts$ | async as posts">
      <ion-card class="ion-no-margin ion-no-padding">
        <ng-container *ngIf="posts.length > 0, else skeleton">
          <ion-card-content *ngIf="post.videoLink" class="ion-no-padding ion-no-margin">
            <ion-card-header>
              <ion-badge color="primary">{{post.userName}}</ion-badge>
            </ion-card-header>
              <div class="ion-text-center">
                <iframe width="255" height="170" [src]="sanitizer(post.videoLink)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
                <ion-row class="ion-justify-content-between">
                  <ion-col>
                    <ion-card-subtitle color="dark" class="ion-padding-start">{{post.title}}</ion-card-subtitle>
                  </ion-col>
                  <ion-col>
                    <p class="date ion-padding-end">{{post.uploadedDate | date}}</p>
                  </ion-col>
                </ion-row>
                  <ion-item class="desc ion-no-padding" [hidden]="!post.expanded">
                    <ion-text class="ion-margin">{{post.description}}</ion-text>
                  </ion-item>
                  <div class="ion-text-center" (click)="post.expanded = !post.expanded">
                    <ion-icon color="secondary" *ngIf="!post.expanded" name="chevron-down-outline"></ion-icon>
                    <ion-icon color="warning" *ngIf="post.expanded" name="chevron-up-outline"></ion-icon>
                  </div>
            </ion-card-content>
        </ng-container>
      <ng-template #skeleton>
        <ion-list>
          <ion-item *ngFor="let item of [1, 2, 3, 4, 5]">
            <ion-thumbnail slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text animated></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ng-template>
    </ion-card>
  </ion-col>
</ion-row>
</ion-content>
