<ion-header>
  <ion-toolbar color="gray">
    <ion-title>feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-card class="ion-no-margin ion-no-padding" *ngFor="let post of posts$ | async as posts">
        <ng-container *ngIf="posts.length > 0, else skeleton"></ng-container>
        <ion-card-content *ngIf="post.videoLink" class="ion-no-padding ion-no-margin">
          <ion-card-header>
            <ion-card-title>{{post.userName}}</ion-card-title>
          </ion-card-header>
        <iframe width="255" height="170" [src]="sanitizer(post.videoLink)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </ion-card-content>

      <ng-template #skeleton>
        <ion-list>
          <ion-item *ngFor="let item of [1, 2, 3, 4, 5]">
            <ion-thumbnail slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text animated></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ng-template>
    </ion-card>
</ion-content>
