
<ion-content>
  <div class="center logo">
    <app-logo></app-logo>
  <h1>Login</h1>
  </div>

  <form>
    <ion-list>
      <!-- <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
      </ion-item> -->
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="text" [(ngModel)]="userName" name="userName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
      </ion-item>

    </ion-list>
      <ion-item lines="none">
        <a routerLink='/signup'>Create Account</a>
      </ion-item>
      <div class="center">
        <button class="forgot-password-btn" (click)="forgotPassword()">Forgot Password</button>
      </div>
    <ion-button class="login-btn" expand="block" shape="round" type="submit" (click)="login()">Login</ion-button>
  </form>

</ion-content>
